<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="VueMapper">
		<select id="allList" resultType="VueVO">
		  SELECT  bbs_id		AS bbsId
		  	   ,  title			AS title
		  	   ,  read_cnt		AS readCnt
		  	   ,  regist_dt		AS registDt
		  	   ,  updt_nm		AS updtNm
		  	   
		    FROM  default_bbs
		   WHERE  use_at = 'Y'
		<if test="keyword != null and keyword != '' and keyword != 'null'">
			<if test="category == 'all'">
			<!-- MariaDB는 대소문자 구분을 하지 않음... 대소문자 구분이 필요하면 BINARY()쓸것 -->
			 AND  (title LIKE CONCAT('%', BINARY(#{ keyword }), '%') 
			 	OR content LIKE CONCAT('%', BINARY(#{ keyword }), '%') )
			</if>
			<if test="category == 'title'">
				AND title LIKE CONCAT('%', BINARY(#{ keyword }), '%')
			</if>
			<if test="category == 'content'">
				AND content LIKE CONCAT('%', BINARY(#{ keyword }), '%') 
			</if>
			<if test="category == 'updtNm'">
				AND updt_nm LIKE CONCAT('%', BINARY(#{ keyword }), '%') 
			</if>
		</if>
		ORDER BY  bbs_id DESC
		<!-- startRow행부터 viewPage건 출력 
		-->
		LIMIT #{ startRow } , #{ viewPage }
	</select>
	
	<select id="rowCnt" parameterType="VueVO" resultType="Integer">
		SELECT  COUNT(bbs_id)
		  FROM  default_bbs
		 WHERE  use_at = 'Y'
		<if test="keyword != null and keyword != '' and keyword != 'null'">
			<if test="category == 'all'">
			 AND  (title LIKE CONCAT('%', BINARY(#{ keyword }), '%') 
			 	OR content LIKE CONCAT('%', BINARY(#{ keyword }), '%') )
			</if>
			<if test="category == 'title'">
				AND title LIKE CONCAT('%', BINARY(#{ keyword }), '%') 
			</if>
			<if test="category == 'content'">
				AND content LIKE CONCAT('%', BINARY(#{ keyword }), '%') 
			</if>
			<if test="category == 'updtNm'">
				AND updt_nm LIKE CONCAT('%', BINARY(#{ keyword }), '%') 
			</if>
		</if>
	</select>
	
	<select id="readOne" resultType="VueVO">
		SELECT  bbs_id			AS bbsId
			 ,  title			AS title
			 ,  content			AS content
			 ,  read_cnt		AS readCnt
			 ,  regist_dt		AS registDt
			 ,  updt_nm			AS updtNm
			 ,  updt_dt			AS updtDt
			 
		  FROM  default_bbs
		 WHERE  bbs_id = #{bbsId}
	</select>
	
	<select id="maxBbsId" resultType="Integer">
		SELECT  MAX(bbs_id) +1 
		  FROM  default_bbs
	</select>
	
	<insert id="editPost" parameterType="VueVO">

	 	INSERT INTO default_bbs(
		
				bbs_id
			  , title
			  , content
			  , read_cnt
			  , regist_nm
			  , regist_dt
			  , updt_nm
			  , updt_dt
			  , use_at
			  
			  )VALUES(
			    #{bbsId}
			  , #{title}
			  , #{content}
			  , 0
			  , #{registNm}
			  , NOW()
			  , #{registNm}
			  , NOW()
			  , 'Y'
			  
			  )ON DUPLICATE KEY UPDATE
			  title = #{title}
			  ,content = #{content}
			  ,updt_nm = #{registNm}
			  ,updt_dt = NOW()
	 		
	</insert>
	
	<update id="deletePost">
		UPDATE default_bbs
		   SET use_at = 'N'
		 WHERE bbs_id = #{bbsId}
	</update>
		
	<update id="updateReadCnt">
		UPDATE  default_bbs
		   SET  read_cnt = read_cnt + 1
		 WHERE  bbs_id = #{bbsId}
	</update>
</mapper>